<a href="https://colab.research.google.com/github/KlavMar/recommandations_films/blob/main/Projet_2_part_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import

In [ ]:
from sklearn.neighbors import NearestNeighbors
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import requests
import time
import json
import pandas as pd 
import numpy as np

In [ ]:
def extractCsv(path,sepCsv,liste,name_liste):
    
    """ Warning : file only contains _ or camelCase no point in name file
        Onyl for csv simple no big file"""
    import os.path

    #import d'OS 
    #listDir = lecture du chemin 
    file_to_extract=os.listdir(path)
    #On itère sur le dossier pour exfilter l'ensemble des fichiers dans ce dossier
    count_liste=0 # permettra de retrouver le DF dans la liste
    try:
        for i in file_to_extract:
            df=pd.DataFrame()
            #On split le nom du fichier (qui ne doit pas contenir de point hors extension, et on prend la première sortie) 
            a=i.split('.')[0]
            try:
                #A chaque itération de boucle on ajoute à la liste le résultat de la lecture du fichier 
                chunk=pd.read_csv(f"{path}{i}",sep=sepCsv,chunksize=500000)
                for i in chunk:
                    df=pd.concat([df,i])
                
                liste.append(df)
                print(f'{a}={name_liste}[{count_liste}]')
                count_liste+=1
            except:
                #Si une erreur est détectée
                print(f"{i} n'est pas un fichier")
           
    except:
        pass
    return liste

In [ ]:
if input('Connect Drive ? ').upper()=='Y':
    from google.colab import drive
    drive.mount('/content/drive')
else: 
    pass

Connect Drive ? y
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
chemin="/content/drive/MyDrive/Colab Notebooks/WILD_CODE_SCHOOL/PROJECT/PROJET 2/PROJET2_NEW/csv/"
table_fr="table_fr/"

In [ ]:
liste_df=[]

In [ ]:
%%time
liste_df=[]
extractCsv(f'{chemin}{table_fr}',";",liste_df,"liste_df")

df_table_fr=liste_df[0]
df_movies_genres=liste_df[1]
df_movies_filter=liste_df[2]
df_movies_with_dummies=liste_df[3]
CPU times: user 11.8 s, sys: 2.47 s, total: 14.3 s
Wall time: 15.4 s

In [ ]:
df_table_fr=liste_df[0]
df_movies_genres=liste_df[1]
df_movies_filter=liste_df[2]
df_movies_with_dummies=liste_df[3]

In [ ]:
df_table_fr

,Unnamed: 0,tconst,titleType,primaryTitle,startYear,runtimeMinutes,genres,decade,title,region
0,0,tt0000002,short,Le clown et ses chiens,1892.0,5.0,"Animation,Short",1890.0,Le clown et ses chiens,FR
1,1,tt0000003,short,Pauvre Pierrot,1892.0,4.0,"Animation,Comedy,Romance",1890.0,Pauvre Pierrot,FR
2,2,tt0000004,short,Un bon bock,1892.0,12.0,"Animation,Short",1890.0,Un bon bock,FR
3,3,tt0000010,short,Leaving the Factory,1895.0,1.0,"Documentary,Short",1890.0,La sortie de l'usine Lumière,FR
4,4,tt0000010,short,Leaving the Factory,1895.0,1.0,"Documentary,Short",1890.0,La sortie des usines Lumière,FR
...,...,...,...,...,...,...,...,...,...,...
3877738,3877738,tt9916844,tvEpisode,Episode #3.15,2010.0,NaN,"Action,Drama,Family",2010.0,Épisode #3.15,FR
3877739,3877739,tt9916846,tvEpisode,Episode #3.18,2010.0,NaN,"Action,Drama,Family",2010.0,Épisode #3.18,FR
3877740,3877740,tt9916848,tvEpisode,Episode #3.17,2010.0,NaN,"Action,Drama,Family",2010.0,Épisode #3.17,FR
3877741,3877741,tt9916850,tvEpisode,Episode #3.19,2010.0,NaN,"Action,Drama,Family",2010.0,Épisode #3.19,FR
3877742,3877742,tt9916852,tvEpisode,Episode #3.20,2010.0,NaN,"Action,Drama,Family",2010.0,Épisode #3.20,FR

In [ ]:
df_movies_with_dummies

,Unnamed: 0,title,genres,tconst,startYear,runtimeMinutes,decade,Action,Adult,Adventure,...,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,averageRating,numVotes,average_rating
0,0,L'enfant prodigue,Drama,tt0000591,1907,90,1900,0,0,0,...,0,0,0,0,0,0,0,4.7,19,4.0
1,1,Les misérables - Époque 1: Jean Valjean,Drama,tt0001790,1913,60,1910,0,0,0,...,0,0,0,0,0,0,0,6.1,47,6.0
2,2,L'enfer,"Adventure,Drama,Fantasy",tt0002130,1911,71,1910,0,0,1,...,0,0,0,0,0,0,0,7.0,2871,7.0
3,3,De la crèche à la croix,"Biography,Drama",tt0002199,1912,60,1910,0,0,0,...,0,0,0,0,0,0,0,5.8,589,5.0
4,4,Passion,"Biography,Drama,Romance",tt0002423,1919,85,1910,0,0,0,...,0,0,0,0,0,0,0,6.6,892,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67459,67459,Le lion,Comedy,tt9908390,2020,95,2020,0,0,0,...,0,0,0,0,0,0,0,5.4,1116,5.0
67460,67460,De Beentjes van Sint-Hildegard,"Comedy,Drama",tt9911196,2020,103,2020,0,0,0,...,0,0,0,0,0,0,0,7.5,3416,7.0
67461,67461,Diabolik sono io,Documentary,tt9913084,2019,75,2010,0,0,0,...,0,0,0,0,0,0,0,6.7,47,6.0
67462,67462,Le paradis de Diego,"Crime,Drama",tt9913936,2019,135,2010,0,0,0,...,0,0,0,0,0,0,0,7.4,58,7.0
67463,67463,Les sorcières d'Akelarre,"Drama,History",tt9916362,2020,92,2020,0,0,0,...,0,0,0,0,0,0,0,6.4,4748,6.0

In [ ]:
#df_movies_with_dummies.drop(columns="Unnamed: 0",inplace=True)
df_movies_with_dummies=df_movies_with_dummies.merge(df_table_fr.loc[:,['tconst','primaryTitle']],how="inner",left_on="tconst",right_on="tconst")

In [ ]:
df_movies_with_dummies.insert(1,'primaryTitle',df_movies_with_dummies.pop('primaryTitle'))

In [ ]:
df=df_movies_with_dummies.copy()
df.head()

,Unnamed: 0,primaryTitle,title,genres,tconst,startYear,runtimeMinutes,decade,Action,Adult,...,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,averageRating,numVotes,average_rating
0,0,The Prodigal Son,L'enfant prodigue,Drama,tt0000591,1907,90,1900,0,0,...,0,0,0,0,0,0,0,4.7,19,4.0
1,1,"Les Misérables, Part 1: Jean Valjean",Les misérables - Époque 1: Jean Valjean,Drama,tt0001790,1913,60,1910,0,0,...,0,0,0,0,0,0,0,6.1,47,6.0
2,2,Dante's Inferno,L'enfer,"Adventure,Drama,Fantasy",tt0002130,1911,71,1910,0,0,...,0,0,0,0,0,0,0,7.0,2871,7.0
3,3,From the Manger to the Cross,De la crèche à la croix,"Biography,Drama",tt0002199,1912,60,1910,0,0,...,0,0,0,0,0,0,0,5.8,589,5.0
4,4,Passion,Passion,"Biography,Drama,Romance",tt0002423,1919,85,1910,0,0,...,0,0,0,0,0,0,0,6.6,892,6.0

In [ ]:
tconst=df['tconst'][df['title'].str.contains('inception',case=False)].index
print(tconst)

Int64Index([66031, 83279], dtype='int64')

## ML

In [ ]:
X=df.iloc[:,4:].set_index('tconst')
y=df.loc[:,'title']

In [ ]:
X

,startYear,runtimeMinutes,decade,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,...,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,averageRating,numVotes,average_rating
tconst,,,,,,,,,,,,,,,,,,,,,
tt0000591,1907,90,1900,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,4.7,19,4.0
tt0001790,1913,60,1910,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,6.1,47,6.0
tt0002130,1911,71,1910,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,7.0,2871,7.0
tt0002199,1912,60,1910,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,5.8,589,5.0
tt0002423,1919,85,1910,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,6.6,892,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9908390,2020,95,2020,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,5.4,1116,5.0
tt9911196,2020,103,2020,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,7.5,3416,7.0
tt9913084,2019,75,2010,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,6.7,47,6.0
tt9913936,2019,135,2010,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,7.4,58,7.0
tt9916362,2020,92,2020,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,6.4,4748,6.0

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y)

### Standardisation

In [ ]:
def ScaleUpdate(df,colDep,pounds,colFin=''):
    try:
        # si une seule colonne
        if colFin=='':
            #si la colonne est un int 
            if type(colDep)==int:
                df.iloc[:,colDep]=df.iloc[:,colDep]*pounds
           #si la colonne est un string
            elif type(colDep)==str:
                df.loc[:,colDep]=df.loc[:,colDep]*pounds

        else : #si plusieurs colonnes 
        #si les colonnes sont des int
            if type(colDep)==int and type(colFin)==int:
                df.iloc[:,colDep:colFin]=df.iloc[:,colDep:colFin]*pounds
        #qi les colonnes sont des strings
            elif type(colDep)==str and type(colFin)==str:
                df.loc[:,colDep:colFin]=df.loc[:,colDep:colFin]*pounds
    except:
        print('Erreur paramètre')
    return df

In [ ]:
scaler = StandardScaler().fit(X)
X_scaled=pd.DataFrame(scaler.transform(X),columns=X.columns)

In [ ]:
model_knn=NearestNeighbors(n_neighbors=5)
model_knn.fit(X_scaled)

NearestNeighbors()

In [ ]:
X_scaled.head()

,startYear,runtimeMinutes,decade,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,...,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,averageRating,numVotes,average_rating
0,-2.915385,-0.049806,-2.994167,-0.409644,-0.209015,-0.355497,-0.169625,-0.190184,-0.616,-0.395713,...,-0.197452,-0.004834,-0.102211,0.0,-0.350958,-0.1842,-0.176183,-1.198649,-0.202900,-1.375789
1,-2.691927,-0.250638,-2.623032,-0.409644,-0.209015,-0.355497,-0.169625,-0.190184,-0.616,-0.395713,...,-0.197452,-0.004834,-0.102211,0.0,-0.350958,-0.1842,-0.176183,0.046051,-0.202501,0.341838
2,-2.766413,-0.177000,-2.623032,-0.409644,-0.209015,2.812960,-0.169625,-0.190184,-0.616,-0.395713,...,-0.197452,-0.004834,-0.102211,0.0,-0.350958,-0.1842,-0.176183,0.846216,-0.162254,1.200651
3,-2.729170,-0.250638,-2.623032,-0.409644,-0.209015,-0.355497,-0.169625,5.258066,-0.616,-0.395713,...,-0.197452,-0.004834,-0.102211,0.0,-0.350958,-0.1842,-0.176183,-0.220670,-0.194777,-0.516976
4,-2.468469,-0.083278,-2.623032,-0.409644,-0.209015,-0.355497,-0.169625,5.258066,-0.616,-0.395713,...,-0.197452,-0.004834,-0.102211,0.0,-0.350958,-0.1842,-0.176183,0.490587,-0.190459,0.341838

In [ ]:
index=df.tconst.loc[df['title'].str.contains(pat="|".join([input()]),regex=True,case=False)].index
index

iron man

Int64Index([9185, 54528, 63881, 65063], dtype='int64')

In [ ]:
X_scaled.index[index]

Int64Index([9185, 54528, 63881, 65063], dtype='int64')

In [ ]:
model_knn.kneighbors(X_scaled.loc[index])[1][0]

array([ 9185, 12100, 11487,  8135, 11799])

In [ ]:
df.loc[model_knn.kneighbors(X_scaled.loc[index])[1][0]]

,Unnamed: 0,primaryTitle,title,genres,tconst,startYear,runtimeMinutes,decade,Action,Adult,...,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,averageRating,numVotes,average_rating
9185,7473,Iron Man,Iron Man,"Drama,Film-Noir,Sport",tt0043678,1951,82,1950,0,0,...,0,0,1,0,0,0,0,6.3,228,6.0
12100,9842,World in My Corner,Dix secondes de silence,"Drama,Film-Noir,Sport",tt0049965,1956,82,1950,0,0,...,0,0,1,0,0,0,0,6.5,209,6.0
11487,9351,The Square Jungle,La jungle des hommes,"Drama,Film-Noir,Sport",tt0048654,1955,86,1950,0,0,...,0,0,1,0,0,0,0,6.6,272,6.0
8135,6635,Champion,Le champion,"Drama,Film-Noir,Sport",tt0041239,1949,99,1940,0,0,...,0,0,1,0,0,0,0,7.4,4265,7.0
11799,9591,The Harder They Fall,Plus dure sera la chute,"Drama,Film-Noir,Sport",tt0049291,1956,109,1950,0,0,...,0,0,1,0,0,0,0,7.5,8084,7.0

In [ ]:
def findTitle(title):
    index=df.tconst.loc[(df['title']==title)]
    print(index)

    if len(index)>=1:

        index=df.tconst.loc[df['title'].str.contains(pat="|".join([title]),regex=True,case=False)].index
        
    else:
        index=df.tconst.loc[df['primaryTitle'].str.contains(pat="|".join([title]),regex=True,case=False)].index
    try:
        knn=NearestNeighbors(n_neighbors=7).fit(X_scaled)
        indiceTab=knn.kneighbors(X_scaled.loc[index])[1][0]
        return df.loc[indiceTab]
    except:
        return 'error'

findTitle(input())

iron man
Series([], Name: tconst, dtype: object)

,Unnamed: 0,primaryTitle,title,genres,tconst,startYear,runtimeMinutes,decade,Action,Adult,...,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,averageRating,numVotes,average_rating
9185,7473,Iron Man,Iron Man,"Drama,Film-Noir,Sport",tt0043678,1951,82,1950,0,0,...,0,0,1,0,0,0,0,6.3,228,6.0
12100,9842,World in My Corner,Dix secondes de silence,"Drama,Film-Noir,Sport",tt0049965,1956,82,1950,0,0,...,0,0,1,0,0,0,0,6.5,209,6.0
11487,9351,The Square Jungle,La jungle des hommes,"Drama,Film-Noir,Sport",tt0048654,1955,86,1950,0,0,...,0,0,1,0,0,0,0,6.6,272,6.0
8135,6635,Champion,Le champion,"Drama,Film-Noir,Sport",tt0041239,1949,99,1940,0,0,...,0,0,1,0,0,0,0,7.4,4265,7.0
11799,9591,The Harder They Fall,Plus dure sera la chute,"Drama,Film-Noir,Sport",tt0049291,1956,109,1950,0,0,...,0,0,1,0,0,0,0,7.5,8084,7.0
7375,5991,Body and Soul,Sang et or,"Drama,Film-Noir,Sport",tt0039204,1947,104,1940,0,0,...,0,0,1,0,0,0,0,7.6,4913,7.0
8394,6856,The Set-Up,Nous avons gagné ce soir,"Crime,Film-Noir,Sport",tt0041859,1949,73,1940,0,0,...,0,0,1,0,0,0,0,7.8,8936,7.0

In [ ]:
df

,Unnamed: 0,primaryTitle,title,genres,tconst,startYear,runtimeMinutes,decade,Action,Adult,...,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,averageRating,numVotes,average_rating
0,0,The Prodigal Son,L'enfant prodigue,Drama,tt0000591,1907,90,1900,0,0,...,0,0,0,0,0,0,0,4.7,19,4.0
1,1,"Les Misérables, Part 1: Jean Valjean",Les misérables - Époque 1: Jean Valjean,Drama,tt0001790,1913,60,1910,0,0,...,0,0,0,0,0,0,0,6.1,47,6.0
2,2,Dante's Inferno,L'enfer,"Adventure,Drama,Fantasy",tt0002130,1911,71,1910,0,0,...,0,0,0,0,0,0,0,7.0,2871,7.0
3,3,From the Manger to the Cross,De la crèche à la croix,"Biography,Drama",tt0002199,1912,60,1910,0,0,...,0,0,0,0,0,0,0,5.8,589,5.0
4,4,Passion,Passion,"Biography,Drama,Romance",tt0002423,1919,85,1910,0,0,...,0,0,0,0,0,0,0,6.6,892,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85593,67459,Le lion,Le lion,Comedy,tt9908390,2020,95,2020,0,0,...,0,0,0,0,0,0,0,5.4,1116,5.0
85594,67460,The Marriage Escape,De Beentjes van Sint-Hildegard,"Comedy,Drama",tt9911196,2020,103,2020,0,0,...,0,0,0,0,0,0,0,7.5,3416,7.0
85595,67461,Diabolik sono io,Diabolik sono io,Documentary,tt9913084,2019,75,2010,0,0,...,0,0,0,0,0,0,0,6.7,47,6.0
85596,67462,Paradise,Le paradis de Diego,"Crime,Drama",tt9913936,2019,135,2010,0,0,...,0,0,0,0,0,0,0,7.4,58,7.0
85597,67463,Coven,Les sorcières d'Akelarre,"Drama,History",tt9916362,2020,92,2020,0,0,...,0,0,0,0,0,0,0,6.4,4748,6.0

In [ ]:
def connectApi(tconst,df):
    df=df
    id=tconst
    url=f'http://www.omdbapi.com/?i={id}&apikey=6e0176ae'
    request_data=requests.get(url)
    time.sleep(3)
    content=request_data.json()
    df=pd.json_normalize(data=[content])
    return df

In [ ]:
connectApi('tt0002130').columns

Index(['Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre', 'Director',
       'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards', 'Poster',
       'Ratings', 'Metascore', 'imdbRating', 'imdbVotes', 'imdbID', 'Type',
       'DVD', 'BoxOffice', 'Production', 'Website', 'Response'],
      dtype='object')